*.a
*.bak
*.db
*.gcda
*.gcno
*.log
*.o
*.lo
*.la
*.opendb
*.orig
*.pyc
*.suo
*.trs
*.user
*.bak
*~
.deps
.dirstamp
.DS_Store
.local-version
.libs
.vagrant
aclocal.m4
autom4te.cache
build
configure
config.log
config.status
doc/Doxyfile
doc/html
ipch
libtool
output
*.elf
*.bin
*.map
*.hex
*.dis
*.exe
*.log
*.swp
tests/*.exp
tests/*.out
__pycache__/
*.pyc
GNUmakefile
user.props
genrst/
tmp
